body{
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background: url('/src/assets/forest.jpg');
  background-size: cover; 
  background-position: center;
  font-family: monospace;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-window {
  backdrop-filter: saturate(1%);
  border: 1px solid #fff;
  border-radius: 4rem;
  width: 80vw;
  height: 80vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}