body{
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background: url('/src/assets/forest.jpg');
  background-size: cover; 
  background-position: center;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;

  .data-window {
    backdrop-filter: saturate(1%) blur(2px);
    border: 1px solid #fff;
    border-radius: 4rem;
    width: 60vw;
    height: 70vh;
    padding: 2rem 2rem;
    display: flex;
    align-items: start;
    justify-content: center;

    .title {
      color: #fff;
      font-size: 2rem;

    }
  }
}



